.bookmark-form {
  width: 90vw;
  height: 90vh;
  display: block;
  padding: 0.3rem 2rem;
  position: relative;
  overflow-y: auto;
  background: rgba(241, 253, 255, 0.596);
  border-radius: 0.5rem;
}

.bookmark-form-title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.exit-icon {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(73, 73, 73);
}

.exit-icon:hover {
  background: rgb(197, 197, 197);
  color: rgb(0, 153, 255);
}

.exit-icon:active {
  background: rgba(241, 253, 255, 0.37);
}

.bookmark-form label {
  font-size: 1rem;
  padding-bottom: 0.2rem;
  margin-top: 0.5rem;
  display: block;
}

.bookmark-form .input-error {
  display: block;
  margin: 0.2rem 0;
  color: rgb(253, 94, 94);
  font-size: 0.8rem;
}

.bookmark-form input {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.4rem 1rem;
  border-style: none;
  border-bottom: 2px solid rgb(145, 145, 145);
  background: transparent;
}

.bookmark-form input:focus {
  background: transparent;
  outline: none;
  border-style: none;
  border-bottom: 2px solid rgb(0, 153, 255);
}

.bookmark-form textarea {
  font-size: 0.8rem;
  min-width: 100%;
  max-width: 100%;
  min-height: 10vh;
  max-height: 15vh;
  padding: 0.4rem 1rem;
  display: block;
  overflow-y: auto;
  background: transparent;
  border-style: none;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 0.5rem;
}

.bookmark-form textarea:focus {
  background: transparent;
  outline: none;
  border-style: none;
  border: 2px solid rgb(0, 153, 255);
}

.bookmark-form button {
  display: inline-block;
  width: auto;
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid rgb(0, 153, 255);
  background: rgb(0, 153, 255);
  color: rgb(238, 238, 238);
  border-radius: 0.2rem;
}

.bookmark-form-submit-btn:active,
.bookmark-form-reset-btn:active,
.bookmark-form-home-btn:active {
  background: rgb(0, 132, 219);
  border-color: rgb(0, 132, 219);
}

.bookmark-form::-webkit-scrollbar {
  width: 0.4rem;
}

.bookmark-form::-webkit-scrollbar-track {
  margin: 0.4rem 0;
  background: rgba(255, 255, 255, 0);
}

.bookmark-form::-webkit-scrollbar-thumb {
  background: rgba(78, 78, 78, 0.363);
  border-radius: 0.5rem;
}

textarea::-webkit-scrollbar {
  width: 0.4rem;
}

textarea::-webkit-scrollbar-track {
  margin: 0.4rem 0;
  background: rgba(255, 255, 255, 0);
}

textarea::-webkit-scrollbar-thumb {
  background: rgba(78, 78, 78, 0.363);
  border-radius: 0.5rem;
}

.bookmark-loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
